#修改注释的作者日期
Code Templates->Types->
/**
 * public static final org.slf4j.Logger log = org.slf4j.LoggerFactory.getLogger(${type_name}.class);
 * 
 * @author king
 * @date ${currentDate:date('yyyy-MM-dd HH:mm:ss')}
 * 
 */
 
#修改工作空间的编码
workspace->UTF-8
 
#修改git提交的作者与邮件

git config global.user
git config global.email
这2个要和github上面的一致, 特别是email, 否则不会计入contributions
